        <footer class="container">
            <hr>
            <button class="btn"><a href="/">Home</a></button>
            <button class="btn"><a href="http://www.loganwenzel.com" target="_blank">Dev's Website</a></button>
            
        </footer>
    
    </body>
</html>