        <footer class="container">
            <hr>
            <p>Made by <a href="http://www.loganwenzel" target="_blank">Logan Wenzel</a> </p>
            <p>Return <a href="/">Home</a></p>
        </footer>
    
    </body>
</html>