        <footer class="container">
            <hr>
            <a href="/"><button class="btn">Home</button></a>
            <a href="http://www.loganwenzel.com"><button class="btn">Dev's Website</button></a>
            
        </footer>
    
    </body>
</html>