<div class="navbar navbar-expand bg-light border-bottom affix fixed-top " style="padding: .1rem 1rem;">
    <span class="navbar-brand col-1 mb-0 h1">ForumIt</span>
    <div class="dropdown show col-2 ">
        <button class="btn dropdown-toggle col-12">Home</button>
    </div>
    <input class="form-control col-5 float-md-left" type="text" placeholder="Search" aria-label="Search">
    <span class="nav-icon-box"><img src="graph.svg" alt="" class="nav-icon"></span>
    <span class="nav-icon-box"><img src="bar-chart.svg" alt="" class="nav-icon"></span>
    <span class="nav-icon-box"><img src="check.svg" alt="" class="nav-icon "></span>
    <span class="nav-group-end"></span>
    
</div>




<div class="navbar bg-light border-bottom second-nav" style="padding: .1rem 1rem;">
    <div class="container">
        <a class="nav-link" href="#">home</a>
        <a class="nav-link" href="#">Popular</a>
    </div>
        
</div>
