<div class="navbar navbar-expand bg-light border-bottom affix fixed-top " style="padding: .1rem 1rem;">
    <span class="navbar-brand col-1 mb-0 h1">ForumIt</span>
    <div class="dropdown show col-2 ">
        <button class="btn dropdown-toggle col-12" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home
        </button>
        <div class="dropdown-menu">
            <p class="bg-light m-0 p-2">Feed Type</p>
            <a href="#" class="dropdown-item">Home</a>
            <a href="#" class="dropdown-item">Popular</a>
            <a href="#" class="dropdown-item">All</a>
            <div class="dropdown-divider"></div>
            <p class="bg-light m-0 p-2">Your Subreddits</p>
            <a href="#" class="dropdown-item">Subreddit 1</a>
            <a href="#" class="dropdown-item">Subreddit 2</a>
            <a href="#" class="dropdown-item">Subreddit 3</a>
            <a href="#" class="dropdown-item">Subreddit 4</a>
            <a href="#" class="dropdown-item">Subreddit 5</a>
        </div>
    </div>
    <input class="form-control col-lg-5  col-md-3 col-sm-12 float-md-left" type="text" placeholder="Search" aria-label="Search">
    <span class="nav-icon-box"><img src="graph.svg" alt="" class="nav-icon m"></span>
    <span class="nav-icon-box"><img src="bar-chart.svg" alt="" class="nav-icon"></span>
    <span class="nav-icon-box"><img src="check.svg" alt="" class="nav-icon "></span>
    <span class="nav-group-end"></span>
    <button type="button" class="btn btn-success">Compose</button>
</div>




<div class="navbar bg-light border-bottom second-nav" style="padding: .1rem 1rem;">
    <div class="container">
        <a class="nav-link" href="#">home</a>
        <a class="nav-link" href="#">Popular</a>
    </div>
        
</div>
