<% include partials/header %>
<h1>Reddit Home</h1>
<ul>
    <li>hot</li>
    <li>new</li>
    <li>top</li>
</ul>

<div id="signIn">
    <input type="text" placeholder="username">
    <input type="text" placeholder="password">
    <button>log in</button>
</div>
<% include partials/footer %>