<% include partials/header %>
<div class="container">
    <div class="content">
        <h1>ForumIt Home</h1>
        <div class="col-7 d-inline-block border">
            <ul>
                <li>hot</li>
                <li>new</li>
                <li>top</li>
            </ul>    
        </div>
        
        <div id="signIn" class="container col-4 d-inline-block border mr-4  float-right">
            <input type="text" placeholder="username">
            <input type="text" placeholder="password">
            <button>log in</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>


<% include partials/footer %>