<% include partials/header %>

<div class="navbar navbar-expand-md bg-light border-bottom affix fixed-top " style="padding: .1rem 1rem;">

    <span class="navbar-brand h1  d-md-block">ForumIt</span>


    <div class="dropdown show col-sm-12 col-md-2 ">
        <button class="btn dropdown-toggle col-12 mb-2 mb-md-0" type="button" data-toggle="dropdown" data-boundary="200px"
            aria-haspopup="true" aria-expanded="false">
            Home
        </button>
        <div class="dropdown-menu scrollable-menu">
            <p class="bg-light m-0 p-2 border-bottom border-top">Feed Type</p>
            <a href="/" class="dropdown-item"><img src="check.svg" alt="" class="dropdown-icon mr-1">Home</a>
            <a href="/subreddit/popular" class="dropdown-item"><img src="graph.svg" alt="" class="dropdown-icon mr-1">Popular</a>
            <a href="/subreddit/all" class="dropdown-item"><img src="bar-chart.svg" alt="" class="dropdown-icon">All</a>


            <p class="bg-light m-0 p-2 border-bottom border-top">Your Subreddits</p>
            <% subreddits.forEach(function(subreddit){ %>
            <a href="/subreddit/<%= subreddit._id %>" class="dropdown-item">
                <%= subreddit.name %></a>
            <% }); %>
        </div>
    </div>

    <input class="form-control flex mb-sm-2 mb-2 mb-md-0" type="text" placeholder="Search" aria-label="Search">
    <a href="/">
        <span class="nav-icon-box d-md-inline-block d-none" data-toggle="tooltip" title="Home">
            <img src="check.svg" class="nav-icon ">
        </span>
    </a>
    <a href="/subreddit/popular">
        <span class="nav-icon-box d-md-inline-block d-none" data-toggle="tooltip" title="Popular">
            <img src="graph.svg" class="nav-icon">
        </span>
    </a>
    <a href="/subreddit/all">
        <span class="nav-icon-box d-md-inline-block d-none" data-toggle="tooltip" title="All">
            <img src="bar-chart.svg" class="nav-icon">
        </span>
    </a>
    <span class="nav-group-end d-md-inline-block d-none"></span>

    <a href="/posts/new" class="ml-1 col-xs-3 col-md-2 mb-2 mb-md-0 text-center">
    
        <button type="button" class="btn btn-primary col-12" title="compose">Compose</button>
    </a>
</div>

<!-- content begins here  -->
<div class="bg-light pb-5 clearfix">
    <div class="container">
        <div class="content d-block row ">
            <h1>ForumIt Home</h1>
            
            <div class="col-12 col-md-4 float-md-right">
                <div id="signIn" class="container border mb-4 mt-md-6 bg-white p-2 clearfix">
                    <form action="/login" method="POST">
                        <input type="text" placeholder="username" name="username" class="col-12 mb-1">
                        <input type="password" placeholder="password" name="password" class="col-12 mb-2">
                        <!-- all this is needed to center the button -->
                        <div class="container mb-2">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-success btn-sm col-6 col-lg-4">Login</button>
                                </div>
                            </div>
                        </div>
                        <p class="small-text text-center">No Account? Sign up <a href="/user/register">Here</a></p>
                        <p class="small-text text-center"><a href="/logout">Logout</a></p>
                    </form>
                    <!-- all this is needed to center the button -->
                    

                </div>

                <div id="quickLinks" class="container border mb-4  bg-white p-2 sticky-top ">
                    <h4>Quick Links</h4>
                    <a href="/subreddit" target="_blank" class="text-white"><button class="btn btn-primary">Subreddits</button></a>
                    <a href="/user" target="_blank" class="text-white"><button class="btn btn-primary">Users</button></a>


                </div>

                <div id="devCard" class="container border mb-4  bg-white p-2 sticky-top ">
                    <h4>Learn About the Developer</h4>
                    <a href="http://www.loganwenzel.com" target="_blank" class="text-white"><button class="btn btn-primary">Learn
                            Here!</button></a>

                </div>

            </div>


            <div class="col-12 col-md-8 ">
                <!-- first posts the later ones will be served programmatically  -->


                <div class="border mb-4 bg-white post">
                    <p>subreddit placeholder <a href="#">username placeholder</a></p>
                    <h5>Post title - this can be as long as it wants to be</h5>
                    <a href="#">test link</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reiciendis quis, repellendus mollitia quas quam sunt
                        porro nesciunt similique quod eveniet ad error
                        recusandae aspernatur quos autem dolores ipsa? Ullam, minima.</p>
                    <div class="btn-group">
                        <button class="btn btn-sm mr-2 ">test 1</button>
                        <button class="btn btn-sm mr-2">test 2</button>
                        <button class="btn btn-sm mr-2">test 3</button>
                        <button class="btn btn-sm mr-2">test 4</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



<% include partials/footer %>