<h1>This page is called: <%= pageVar.toLowerCase() %></h1>

<!-- conditional example -->
<% if(pageVar.toLowerCase() ==="logan"){ %>
    <p>Good Choice Logan is the best!</p>
<% } else{ %>
    <p>Bad choice you should have said Logan</p>
<% } %>