<% include partials/header %>
<div class="container">
    <h1 class="text-center m-4">The Page: "<%= pageVar.toLowerCase() %>" does not yet exist</h1>
    <div class="col-12 text-center">
        <button class="btn btn-success align-content-center"><a href="/" class="text-white">Home</a></button>

    </div>
        
</div>
