<% include partials/header %>
<div class="container">
    <h1>This is the show template</h1>

    <h3><%= subreddit.name %></h3>
    <h5>rules</h5>
    <p><%= subreddit.rules %></p>
    <h5>description</h5>
    <p><%= subreddit.description %></p>
</div>

<% include partials/footer %>