<% include ../partials/header %>
<div class="container border mt-4 pb-4 bg-info">
    <h1>Create a new subreddit</h1>

    <form action="/subreddit" method="POST">
        <input type="text" placeholder="URL End" name="name">
        <input type="text" placeholder="description" name="description">
        <input type="text" placeholder="rules" name="rules">

        <input type="submit" value="submit">
    </form>

</div>

<% include ../partials/footer %>