<% include ../partials/header %>
<% include ../partials/nav %>

<div class="bg-light pb-5 clearfix">
        <div class="container">
            <div class="d-block row ">
            <h1>All subreddits</h1>
            <a href="/subreddit/new">
                <button class="btn btn-success">Create Subreddit</button>
            </a>
            <div class="post">
                <% data.subreddits.forEach(function(subreddit){ %>
                <a href="/subreddit/<%= subreddit._id %>"" class=" dropdown-item">
                    <%= subreddit.name %></a>
                <% }); %>
            </div>

        </div>
    </div>

</div>

<% include ../partials/footer %>