
<% include ../partials/header %>
<div class="container border mt-4 pb-4">
    <h1 class=" text-center">Register page</h1>
    <hr>
    <form action="/register" method="POST" class="form-inline justify-content-center">
        <input type="text" name="username" placeholder="username" class="form-control rounded mr-2 ">
        <input type="password" name="password" placeholder="password" class="form-control rounded mr-2 ">
        <button class="btn btn-success">Submit</button>
    </form>

</div>

<% include ../partials/footer %>