<% include ../partials/header %>
<div class="container">
    <h1>Post Form</h1>

    <form action="/posts" method="POST">
        <label for="title">Title</label>
        <input type="text" placeholder="Title" name="title" class="col-12">
        <label for="subreddit">Subreddit</label>

        <select name="subreddit" placeholder="Subreddits" class="custom-select">
            <% subreddits.forEach(function(subreddit){ %>
            <option value="<%=subreddit.name %>">
                <%=subreddit.name %>
            </option>
            <% }); %>
        </select>
        <label for="content">Content</label>
        <textarea name="content" id="postContent" cols="30" rows="10" class="col-12"></textarea>
        <button class="btn btn-success">Submit</button>
    </form>
</div>
<% include ../partials/footer %>