<% include ../partials/header %>
<div class="container">
    <h1>Post Form</h1>

    <form action="/posts" method="POST">
        <label for="title">Title</label>
        <input type="text" placeholder="Title" name="title" class="col-12">
        <label for="subreddit">Subreddit</label>
        <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" >
            Dropdown button
        </button>
        <div class="dropdown-menu col-7 container text-center" aria-labelledby="dropdownMenuButton">
            <% subreddits.forEach(function(subreddit){ %>
            <li class="dropdown-item" name="subreddit">
                <%= subreddit.name %></li>
            <% }); %>
        </div>
        <label for="content">Content</label>
        <textarea name="content" id="postContent" cols="30" rows="10" class="col-12"></textarea>
        <button class="btn btn-success">Submit</button>
    </form>
</div>
<% include ../partials/footer %>